$primary:       #ff7171;
$secondary:     #fd3157f2;
$success:       #69ca34;
$info:          #34ca89;
$warning:       #e7e302;
$danger:        #da4d26;


//$border-radius: 1rem;
//$input-font-size: 1rem;
$font-family-base: sans-serif;
$bs-body-color: #ff7171;
$body-color:                #ff7171;
$body-bg:                   #f0f0f0;

$body-secondary-color:      #fd3157f2;
$body-secondary-bg:         #fd3157f2;

$body-tertiary-color:       #deb5eb;
$body-tertiary-bg:          #945bff;

$body-emphasis-color:       #da4d26;

//$navbar-brand-padding-y: 0rem;

//$button-color: white;
$card-bg: grey;
//$card-border-radius: $border-radius;
$card-border-color: white;




@import "../node_modules/bootstrap/scss/bootstrap";